For notes about the use of this page, see [TEST_SCENARIOS_INFO.md](./TEST_SCENARIOS_INFO.md)

# Display
|Test scenario|Covered|
|---          |   :---:  |
|Given a story with sets, then a data panel and chart should be rendered|:heavy_check_mark:|
|Given a story with no data, then only a data panel should be rendered|:heavy_check_mark:|
|Given a story with no data, an "add set" button should be present|:heavy_check_mark:|

## Sets
|Test scenario|Covered|
|---          |   :---:  |
|Given a story has two sets, then two sets should be rendered|:heavy_check_mark:|
|Given a story has two sets, then two sets should be rendered|:heavy_check_mark:|

## Chart
|Test scenario|Covered|
|---          |   :---:  |
|when the user's logged out..., then two sets should be rendered|:x:|

# Adding data

## Stories

## Sets

## Set values

