.panel {
  padding: 30px 35px 20px 30px;
}

.title {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
  white-space: pre-line;
}

.body {
  display: grid;
  grid: auto / auto 1fr;
}

.scenarioLabel {
  grid-column: 1 / 2;
  text-align: right;
  padding: 0 10px;
  align-self: center;
  white-space: pre-line;
}

.bar {
  grid-column: 2 / 3;
  position: relative;
  height: 50px;
  border-top: 1px solid var(--color-grey--050);
  overflow: hidden;
}

.scale {
  grid-column: 2 / 3;
  height: 20px;
  text-align: center;
  border-top: 2px solid var(--color-grey--100);
  font-size: 20px;
}

.scaleLabelWrapper {
  position: relative;
}

.scaleLabel {
  position: absolute;
  padding: 5px 0;
  font-size: 12px;
  color: var(--color-grey--600);
}

.scaleLabel::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 8px;
  top: -2px;
  left: 50%;
  background: var(--color-grey--100);
}

.mark {
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 2px;
  background: var(--color-blue--500);
  filter: blur(1px);
}
