.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background: var(--color-blue--900);
}

.title {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.select {
  padding: 8px 16px;
  background: var(--color-blue--100);
  border: none;
  border-radius: 4px;
}

.select option {
  opacity: 0.5;
  background: white;
  padding: 5px;
}

.page {
  padding: 40px 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.permalink {
  display: block;
  width: 100%;
  padding: 4px 8px;
  font-size: 14px;
  color: var(--color-grey--600);
}

@media screen and (min-width: 600px) {
  .permalink {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .page {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    padding-left: 40px;
    padding-right: 40px;
  }
}
