.panel {
  margin-bottom: 40px;
  background: white;
}

.header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.title {
  position: relative;
  padding: 10px;
  font-size: 20px;
}

.deleteButton {
  border: none;
  background: none;
  font-size: 20px;
  color: var(--color-grey--600);
  cursor: pointer;
  transition: 200ms;
}

.deleteButton:hover {
  transform: rotate(90deg);
}

.sets {
  display: grid;
  grid: auto / 1fr 120px 2fr 50px;
}

.sets > * {
  border-top: 1px solid var(--color-grey--200);
  min-height: 100%;
  padding: 10px;
}

.addSetWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid var(--color-grey--200);
}
